@import './scss-variables.scss';

@font-face {
  font-family: noto-sans;
  src: url(./assets/fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: noto-sans-bold;
  src: url(./assets/fonts/NotoSans-Bold.ttf);
}

@font-face {
  font-family: ibm-thin;
  src: url(./assets/fonts/IBMPlexSans-Thin.ttf);
}

@font-face {
  font-family: ibm-extra-light;
  src: url(./assets/fonts/IBMPlexSans-ExtraLight.ttf);
}

@font-face {
  font-family: ibm-light;
  src: url(./assets/fonts/IBMPlexSans-Light.ttf);
}

@font-face {
  font-family: ibm-regular;
  src: url(./assets/fonts/IBMPlexSans-Regular.ttf);
}

@font-face {
  font-family: ibm-text;
  src: url(./assets/fonts/IBMPlexSans-Text.ttf);
}

@font-face {
  font-family: ibm-medium;
  src: url(./assets/fonts/IBMPlexSans-Medium.ttf);
}

@font-face {
  font-family: ibm-semi-bold;
  src: url(./assets/fonts/IBMPlexSans-SemiBold.ttf);
}

@font-face {
  font-family: ibm-bold;
  src: url(./assets/fonts/IBMPlexSans-Bold.ttf);
}

html {
  font-size: 100.01%;
  // overflow-x: hidden;
  // overflow-y: hidden;
}
body {
  font-family: ibm-regular;
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  // font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  background: white;
  color: black;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
blockquote,
q {
  quotes: '' '';
}

button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-family: ibm-regular;
  font-size: 1rem;
  padding: 0;
}

a {
  text-decoration: none;
}

.app {
  background-color: $secondary-color;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

* {
  scroll-behavior: smooth;
  // scroll-snap-type: y mandatory;
  // overflow-x: hidden;
  // overflow-y: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.fade-in-left {
  animation: fade-in-left 1s ease-out forwards;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-out-left {
  animation: fade-out-left 1s ease-out forwards;
}

@keyframes fade-out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.fade-in-right {
  animation: fade-in-right 1s ease-out forwards;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-out-right {
  animation: fade-out-right 1s ease-out forwards;
}

@keyframes fade-out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}
