@import 'styles/1-helpers/variables';
@import 'styles/1-helpers/mixin';

.about {
  background: $secondary-color;
  width: 100%;
  box-sizing: border-box;
  padding: 80px 0;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__title {
  color: $primary-color;
  font-family: ibm-semi-bold;
  font-size: 35px;
  grid-area: title;
  margin-bottom: 30px;

  &::after {
    content: '';
    border: 2px solid $primary-color;
    width: 66%;
    border-radius: 4px;
    display: block;
    margin: 16px auto 0 auto;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__bio {
  color: $primary-color;
  font-family: ibm-text;
  letter-spacing: 1px;
  grid-area: bio;
  padding: 0 30px;
  line-height: 1.2rem;
  font-size: 1.2rem;
  max-width: 400px;
}

.bio-grabber {
  color: $accent-color;
  font-family: ibm-text;
  letter-spacing: 1px;
  padding: 16px 30px;
  border-radius: 8px;
  font-size: 1.4rem;
  background-color: $primary-color;
  margin-bottom: 16px;
}

.about__image {
  height: 250px;
  width: 250px;
  grid-area: img;
  border-radius: 50%;
  background-image: url('../../../assets/img/brady.png');
  border: solid 3px $primary-color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 10px 15px $primary-color, 0px 20px 30px #ccc,
    0px 30px 45px #ccc;
  margin-bottom: 30px;
}

@include xl {
  .about {
  }

  .about__title {
    font-size: 40px;
  }

  .about-section {
    display: flex;
    flex-direction: row;
  }

  .about__image {
    justify-self: left;
    height: 250px;
    width: 250px;
    margin-bottom: 0;
  }

  .about__bio {
    // height: 100%;
    height: fit-content;
  }
}
