@import '../../scss-variables.scss';
@import '../../scss-mixin.scss';

.skill {
  background: $primary-color;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  padding: 80px 0;
}

.skill__title {
  color: $secondary-color;
  font-family: ibm-semi-bold;
  font-size: 35px;
  margin-bottom: 30px;

  &::after {
    content: '';
    border: 2px solid $secondary-color;
    width: 66%;
    border-radius: 4px;
    display: block;
    margin: 16px auto 0 auto;
  }
}

.skill__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.skill__icons {
  font-size: calc(100vw / 6);
}

.skill__icons {
  filter: drop-shadow(0 0 30px $primary-color);
}

@include sm {
  .skill__title {
    font-size: 40px;
  }

  .skill__cards {
    max-width: 700px;
  }

  .skill__icons {
    font-size: 80px;
  }

  .skill__icons {
    filter: drop-shadow(0 0 3px $secondary-color)
      drop-shadow(0 0 1px $primary-color);
  }
}
