@font-face {
  font-family: noto-sans;
  src: url(../../assets/fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: noto-sans-bold;
  src: url(../../assets/fonts/NotoSans-Bold.ttf);
}

@font-face {
  font-family: ibm-thin;
  src: url(../../assets/fonts/IBMPlexSans-Thin.ttf);
}

@font-face {
  font-family: ibm-extra-light;
  src: url(../../assets/fonts/IBMPlexSans-ExtraLight.ttf);
}

@font-face {
  font-family: ibm-light;
  src: url(../../assets/fonts/IBMPlexSans-Light.ttf);
}

@font-face {
  font-family: ibm-regular;
  src: url(../../assets/fonts/IBMPlexSans-Regular.ttf);
}

@font-face {
  font-family: ibm-text;
  src: url(../../assets/fonts/IBMPlexSans-Text.ttf);
}

@font-face {
  font-family: ibm-medium;
  src: url(../../assets/fonts/IBMPlexSans-Medium.ttf);
}

@font-face {
  font-family: ibm-semi-bold;
  src: url(../../assets/fonts/IBMPlexSans-SemiBold.ttf);
}

@font-face {
  font-family: ibm-bold;
  src: url(../../assets/fonts/IBMPlexSans-Bold.ttf);
}
